.homeContainer {

    min-width: 100%;
    
    border-radius: 10px;
    border-color: grey;
    font-weight: 400;
    margin-top: 24px;
   
    background-color: white;
}

#postModalBtn {
    border-color: grey;
    text-align: left;
    width: 100%;
}

.postFileName {

    margin-left: 10px;
}


.sideBarBanner {
    position: relative;
    top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }
  
  .sideBarAvatar {
    border-radius: 50% !important;
    height: 60px;
    width: 60px !important;
    z-index: 1;
    position: relative;
    top: -30px;
    right: -80px;
    border: 3px solid white;
  }
  
  .leftSideBarTitles {
    position: relative;
    bottom: 60px;
  }
  
  .leftSideBarCard {

    min-width: 100%;
    
    border-radius: 10px;
    border-color: rgba(0,0,0,.125);
    font-weight: 400;
    margin-top: 24px;
   
    background-color: white;
    /* max-height: auto !important; */
  }
  
  .leftSideBarCardBody {
    height: 200px !important;
  }
  
  .leftSideBarButtonsSection {
    position: relative;
    bottom: 60px;
  }

  .welcomeName:hover {
       text-decoration: underline;
       cursor: pointer;
  }

  .borderBottomRow {

    border-bottom: 1px solid  rgba(0,0,0,.125);
  }

  .hoverRow:hover {
      background-color: rgba(161, 159, 159, 0.24);
  }

  .hoverTextBold:hover {

    color: blue
  }